<div class="footer-container">
    <div class="footer-links">
        <h4 class="footer-menu-title">Home</h4>
        <h4 class="footer-menu-title">Blog</h4>
        <h4 class="footer-menu-title">Tree Guide</h4>
        <h4 class="footer-menu-title">About us</h4>
        <h4 class="footer-menu-title">Contact us</h4>
    </div>
    <div class="footer-btn-container">
        <h4 class="footer-btn-title">Join our tree community</h4>
        <button class="footer-btn">Try us</button>
    </div>
    <div class="footer-disclaimer">
        <p class="footer-blurb">
            Trees have not been approved by the food and drug administration. 
                        Trees are not meant to cure any disease.
        </p>
    </div>
    <div class="footer-link-row">
        <a class="footer-link" href="#">Terms of Service</a>
        <a class="footer-link" href="#">Privacy Policy</a>
        <a class="footer-link" href="#">Refund Policy</a>
    </div>
    <div class="footer-address-container">
        <p class="footer-address">
            564 Trees Circle, Treeton NJ 02345
        </p>
        <p class="footer-phone-number">
            564-766-8008
        </p>
    </div>
</div>
