<div class="button-bar">
    {% for block in section.blocks %}
        <div class="bar-btn">
          {% if block.settings.title != blank %}
            <h4 class="bar-btn-title">{{ block.settings.title }}</h4>
            {% else %}
             <h4 class="bar-btn-title">Variant</h4> 
          {% endif %}
 
          {% if block.settings.image != blank %}
              <img class="menu-image" src="{{ block.settings.image | image_url: width: 450, height: 450, crop: center }}" alt="">
          {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'menu-image' }}
          {% endif %}
            </a>
        </div>
    {% endfor %}
</div>


{% schema %}
{
  "name": "Image Menu",
  "class": "image-menu-section",
  "presets": [
    {
      "category": "Menu",
      "name": "Image Menu"
    }
  ],
  "blocks": [
    {
      "name": "Image Menu Item",
      "type": "image_picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Block Image"
        },
        {
         "type": "text",
         "id": "title",
         "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
       
      ]
    }
  ]
}
{% endschema %}