{% for block in section.blocks %}
    <div class="showcase-container">
        <div class="showcase">

            <div class="showcase-paragraph">
                {% if block.settings.title != blank %}
                    <h1 class="showcase-paragraph-title">{{ block.settings.title }}</h1>
                {% else %}
                    <h1 class="showcase-paragraph-title">Showcase Title</h1>
                {% endif %}

                {% if block.settings.image_description != blank %}
                    <p class="showcase-paragraph-info">{{ block.settings.image_description }}</p>
                {% else %}
                    <p class="showcase-paragraph-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt ante
                                                                                      sit amet urna venenatis
                                                                                      accumsan.
                                                                                      Nulla nec dui justo. Phasellus at volutpat nibh. Pellentesque mattis tortor in ante sodales.
                    </p>
                {% endif %}
            </div>
            <div class="showcase-image">
                {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url: height: 370, width: 350}}" alt="">
                {% else %}
                    {{ 'product-6' | placeholder_svg_tag: 'flex-image' }}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

{% schema %}
{
  "name": "Show Case",
  "presets": [
    {
      "category": "Info Section",
      "name": "Show Case"
    }
  ],
   "max_blocks": 3,
   "blocks": [
    {
       "name": "Small Hero",
       "type": "small_hero",
       "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
        },
        {
          "type": "text",
          "id": "image_description",
          "label": "Image description"
        },
        {
         "type": "text",
         "id": "title",
         "label": "Title"
        }
       ]
    }
   ]
}
{% endschema %}