<div class="two-way-section">
    <div class="two-way-image">
        {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url: height: 450, width: 450}}" alt="" class="flex-image">
        {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

    </div>

    <div class="two-way-right">
        <div class="two-way-text">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum mattis eleifend. Mauris id ex.</h1>

            <p class="two-way-main-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisi nunc, euismod vitae mollis a, elementum
                                    quis enim.
                                    Duis semper lobortis nisi, in tempus velit ullamcorper bibendum. Nulla at mauris eu leo posuere interdum
                                    vitae maximus
                                    elit. Nam quis ipsum et ipsum dictum consequat. Curabitur massa erat, tincidunt quis blandit ut, vestibulum
                                    quis dolor.
                                    Morbi ac ligula viverra tortor fermentum condimentum. Quisque id maximus eros. Duis vel aliquam sapien.
                                    Aliquam.
            </p>
        </div>
        
        {% if section.settings.button_toggle == true %}
            <button class="two-way-action-btn">Call to action</button>
        {% endif %}
    </div>


</div>

{% schema %}
{
  "name": "Two way",
  "class": "two-way-section",
  "presets": [
    {
      "category": "showcase-section",
      "name": "Two Way"
    }
  ],
  "settings": [ 
    {
       "type": "image_picker",
       "id": "image",
       "label": "Image"
    },
    {
       "type": "checkbox",
       "id": "button_toggle",
       "label": "Call to action button"
    }
  ]
}
{% endschema %}