{% paginate collections by 6 %}
    <div>
        <h1 class="collections-list-title">Collections</h1>
        <div class="card-flex-container">
            {% for collection in collections %}
                <div class="collection-card">
                    <a href="{{ collection.url }}"><img class="card-image" src="{{collection.featured_image | image_url }}" alt=""></a>
                    <h1 class="collection-card-title">
                        {{ collection.title }}
                    </h1>
                </div>
            {% endfor %}
        </div>

    </div>
    {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
    {% endif %}
{% endpaginate %}